@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Murecho:wght@300&display=swap');

.main-button {
    font-family: 'Mukta', sans-serif;
}

.main-button:hover {
    background-color: rgb(41, 110, 110);
}

.btn:hover{
    background-color: aquamarine;
}
